body {
    font-family: var(--fonte-familia-padrao);
    background: url("../img/Forma\ 1.png")no-repeat, url("../img/Forma\ 2.png") 110% 199px no-repeat, url("../img/Ilustração\ 1.png") 33.66% 518px no-repeat;
    background-color: var(--azul);    
}

.rodape{
    margin-top: 330px;
}

@media screen and (min-width: 768px) {

    body {
        background: url("../img/Forma\ 1-tablet.png") no-repeat, url("../img/Forma\ 2-tablet.png")100% 199px no-repeat, url("../img/Ilustração\ 1.png") 230px 650px no-repeat;
        background-color: var(--azul);
    }

    .rodape{
        margin-top: 340px;
   
    }
}

@media screen and (min-width: 1024px) {

    body {
        background: url("../img/Forma\ 1-tablet.png") -30px -50px no-repeat, url("../img/Forma\ 2-tablet.png")100% 199px no-repeat, url("../img/Ilustração\ 1.png") 630px 615px no-repeat;
        background-color: var(--azul);
    }

    .rodape{
        margin-top: 442px;
   
    }
}
