.rodape{
    margin-top: 330px;
    background-color: var(--verde);
    width: 110vw;
    height: 104px;
    padding-top: 41px;
    box-sizing: border-box;    
}

.rodape-texto{
    font-size: var(--fonte-tamanho-padrao);
    font-weight: var(--fonte-peso-leve);
    color: var(--branco);
    text-align: center;
}

@media screen and (min-width: 768px) {

    .rodape{
        margin-top: 340px;
   
    }
    .rodape-texto{
        font-size: 16px;
    }

}

@media screen and (min-width: 768px) {

    .rodape{
        margin-top: 442px;
   
    }

}