.rodape{
    background-color: var(--verde);
    width: 110vw;
    height: 104px;
    padding-top: 41px;
    box-sizing: border-box;    
}

.rodape-texto{
    font-size: var(--fonte-tamanho-padrao);
    font-weight: var(--fonte-peso-leve);
    color: var(--branco);
    text-align: center;
}
